In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv("../datasets/train_1st_clean.csv")
df.shape

(2051, 82)

In [4]:
kaggle_data = pd.read_csv('../datasets/test.csv')
kaggle_data.shape

(878, 80)

In [5]:
df.head()

,Unnamed: 0,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [6]:
df = df.drop(columns='Unnamed: 0')
df.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [7]:
kaggle_data.columns = [col.replace(" ", "_").lower() for col in kaggle_data.columns]
kaggle_data.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,3ssn_porch,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

# Need to feature engineer the poly columns in DF

In [9]:
features = ['totrms_abvgrd', 'mas_vnr_area', 'full_bath', 'year_remod/add', 
            'garage_yr_blt', 'year_built', '1st_flr_sf', 'total_bsmt_sf', 
            'garage_cars', 'garage_area', 'gr_liv_area', 'overall_qual']

In [10]:
X = df[features]
y = df['saleprice']

In [11]:
X.head()

,totrms_abvgrd,mas_vnr_area,full_bath,year_remod/add,garage_yr_blt,year_built,1st_flr_sf,total_bsmt_sf,garage_cars,garage_area,gr_liv_area,overall_qual
0,6,289.0,2,2005,1976.0,1976,725,725.0,2.0,475.0,1479,6
1,8,132.0,2,1997,1997.0,1996,913,913.0,2.0,559.0,2122,7
2,5,0.0,1,2007,1953.0,1953,1057,1057.0,1.0,246.0,1057,5
3,7,0.0,2,2007,2007.0,2006,744,384.0,2.0,400.0,1444,5
4,6,0.0,2,1993,1957.0,1900,831,676.0,2.0,484.0,1445,6

In [13]:
from sklearn.preprocessing import PolynomialFeatures

In [14]:
poly = PolynomialFeatures(include_bias=False)
poly.fit(X)

PolynomialFeatures(include_bias=False)

In [15]:
X_poly = poly.transform(X)
X_poly

array([[6.000000e+00, 2.890000e+02, 2.000000e+00, ..., 2.187441e+06,
        8.874000e+03, 3.600000e+01],
       [8.000000e+00, 1.320000e+02, 2.000000e+00, ..., 4.502884e+06,
        1.485400e+04, 4.900000e+01],
       [5.000000e+00, 0.000000e+00, 1.000000e+00, ..., 1.117249e+06,
        5.285000e+03, 2.500000e+01],
       ...,
       [9.000000e+00, 0.000000e+00, 1.000000e+00, ..., 3.659569e+06,
        1.147800e+04, 3.600000e+01],
       [6.000000e+00, 0.000000e+00, 1.000000e+00, ..., 1.440000e+06,
        4.800000e+03, 1.600000e+01],
       [7.000000e+00, 0.000000e+00, 2.000000e+00, ..., 3.254416e+06,
        1.262800e+04, 4.900000e+01]])

In [18]:
poly.get_feature_names(features) # 90 total, may need to cut down on columns later

['totrms_abvgrd',
 'mas_vnr_area',
 'full_bath',
 'year_remod/add',
 'garage_yr_blt',
 'year_built',
 '1st_flr_sf',
 'total_bsmt_sf',
 'garage_cars',
 'garage_area',
 'gr_liv_area',
 'overall_qual',
 'totrms_abvgrd^2',
 'totrms_abvgrd mas_vnr_area',
 'totrms_abvgrd full_bath',
 'totrms_abvgrd year_remod/add',
 'totrms_abvgrd garage_yr_blt',
 'totrms_abvgrd year_built',
 'totrms_abvgrd 1st_flr_sf',
 'totrms_abvgrd total_bsmt_sf',
 'totrms_abvgrd garage_cars',
 'totrms_abvgrd garage_area',
 'totrms_abvgrd gr_liv_area',
 'totrms_abvgrd overall_qual',
 'mas_vnr_area^2',
 'mas_vnr_area full_bath',
 'mas_vnr_area year_remod/add',
 'mas_vnr_area garage_yr_blt',
 'mas_vnr_area year_built',
 'mas_vnr_area 1st_flr_sf',
 'mas_vnr_area total_bsmt_sf',
 'mas_vnr_area garage_cars',
 'mas_vnr_area garage_area',
 'mas_vnr_area gr_liv_area',
 'mas_vnr_area overall_qual',
 'full_bath^2',
 'full_bath year_remod/add',
 'full_bath garage_yr_blt',
 'full_bath year_built',
 'full_bath 1st_flr_sf',
 'full_bath total_bsmt_sf',
 'full_bath garage_cars',
 'full_bath garage_area',
 'full_bath gr_liv_area',
 'full_bath overall_qual',
 'year_remod/add^2',
 'year_remod/add garage_yr_blt',
 'year_remod/add year_built',
 'year_remod/add 1st_flr_sf',
 'year_remod/add total_bsmt_sf',
 'year_remod/add garage_cars',
 'year_remod/add garage_area',
 'year_remod/add gr_liv_area',
 'year_remod/add overall_qual',
 'garage_yr_blt^2',
 'garage_yr_blt year_built',
 'garage_yr_blt 1st_flr_sf',
 'garage_yr_blt total_bsmt_sf',
 'garage_yr_blt garage_cars',
 'garage_yr_blt garage_area',
 'garage_yr_blt gr_liv_area',
 'garage_yr_blt overall_qual',
 'year_built^2',
 'year_built 1st_flr_sf',
 'year_built total_bsmt_sf',
 'year_built garage_cars',
 'year_built garage_area',
 'year_built gr_liv_area',
 'year_built overall_qual',
 '1st_flr_sf^2',
 '1st_flr_sf total_bsmt_sf',
 '1st_flr_sf garage_cars',
 '1st_flr_sf garage_area',
 '1st_flr_sf gr_liv_area',
 '1st_flr_sf overall_qual',
 'total_bsmt_sf^2',
 'total_bsmt_sf garage_cars',
 'total_bsmt_sf garage_area',
 'total_bsmt_sf gr_liv_area',
 'total_bsmt_sf overall_qual',
 'garage_cars^2',
 'garage_cars garage_area',
 'garage_cars gr_liv_area',
 'garage_cars overall_qual',
 'garage_area^2',
 'garage_area gr_liv_area',
 'garage_area overall_qual',
 'gr_liv_area^2',
 'gr_liv_area overall_qual',
 'overall_qual^2']

In [19]:
pd.DataFrame(X_poly, columns=poly.get_feature_names(features))

,totrms_abvgrd,mas_vnr_area,full_bath,year_remod/add,garage_yr_blt,year_built,1st_flr_sf,total_bsmt_sf,garage_cars,garage_area,...,garage_cars^2,garage_cars garage_area,garage_cars gr_liv_area,garage_cars overall_qual,garage_area^2,garage_area gr_liv_area,garage_area overall_qual,gr_liv_area^2,gr_liv_area overall_qual,overall_qual^2
0,6.0,289.0,2.0,2005.0,1976.0,1976.0,725.0,725.0,2.0,475.0,...,4.0,950.0,2958.0,12.0,225625.0,702525.0,2850.0,2187441.0,8874.0,36.0
1,8.0,132.0,2.0,1997.0,1997.0,1996.0,913.0,913.0,2.0,559.0,...,4.0,1118.0,4244.0,14.0,312481.0,1186198.0,3913.0,4502884.0,14854.0,49.0
2,5.0,0.0,1.0,2007.0,1953.0,1953.0,1057.0,1057.0,1.0,246.0,...,1.0,246.0,1057.0,5.0,60516.0,260022.0,1230.0,1117249.0,5285.0,25.0
3,7.0,0.0,2.0,2007.0,2007.0,2006.0,744.0,384.0,2.0,400.0,...,4.0,800.0,2888.0,10.0,160000.0,577600.0,2000.0,2085136.0,7220.0,25.0
4,6.0,0.0,2.0,1993.0,1957.0,1900.0,831.0,676.0,2.0,484.0,...,4.0,968.0,2890.0,12.0,234256.0,699380.0,2904.0,2088025.0,8670.0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,7.0,0.0,2.0,2007.0,2007.0,2007.0,1728.0,1884.0,2.0,520.0,...,4.0,1040.0,3456.0,16.0,270400.0,898560.0,4160.0,2985984.0,13824.0,64.0
2047,4.0,0.0,1.0,1950.0,1961.0,1940.0,861.0,861.0,2.0,539.0,...,4.0,1078.0,1722.0,8.0,290521.0,464079.0,2156.0,741321.0,3444.0,16.0
2048,9.0,0.0,1.0,1950.0,1929.0,1928.0,1172.0,896.0,2.0,342.0,...,4.0,684.0,3826.0,12.0,116964.0,654246.0,2052.0,3659569.0,11478.0,36.0
2049,6.0,0.0,1.0,1956.0,1956.0,1956.0,1200.0,1200.0,1.0,294.0,...,1.0,294.0,1200.0,4.0,86436.0,352800.0,1176.0,1440000.0,4800.0,16.0
2050,7.0,0.0,2.0,1999.0,1999.0,1999.0,1028.0,994.0,2.0,442.0,...,4.0,884.0,3608.0,14.0,195364.0,797368.0,3094.0,3254416.0,12628.0,49.0

In [20]:
lr = LinearRegression()

In [21]:
cross_val_score(lr, X_poly, y).mean()

0.848069746173984

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X_poly, y, random_state = 42)

In [23]:
lr.fit(X_train, y_train)

LinearRegression()

In [24]:
lr.score(X_train, y_train), lr.score(X_test, y_test)

(0.8954842346042707, 0.8748368308791881)

# Need to update Kaggle Data sheet with poly columns and NaN fixes

In [27]:
kaggle_data['mas_vnr_area'] = kaggle_data['mas_vnr_area'].fillna(round(kaggle_data['mas_vnr_area'].mean()))
kaggle_data['garage_yr_blt'] = kaggle_data['garage_yr_blt'].fillna(kaggle_data['year_built'])
kaggle_data['total_bsmt_sf'] = kaggle_data['total_bsmt_sf'].fillna(round(kaggle_data['total_bsmt_sf'].mean()))
kaggle_data['garage_cars'] = kaggle_data['garage_cars'].fillna(round(kaggle_data['garage_cars'].mean()))
kaggle_data['garage_area'] = kaggle_data['garage_area'].fillna(round(kaggle_data['garage_area'].mean()))

In [28]:
Kaggle_X = kaggle_data[features]

In [29]:
Kaggle_poly = PolynomialFeatures(include_bias=False)
Kaggle_poly.fit(Kaggle_X)

PolynomialFeatures(include_bias=False)

In [30]:
Kaggle_X_poly = Kaggle_poly.transform(Kaggle_X)
Kaggle_X_poly

array([[9.000000e+00, 0.000000e+00, 2.000000e+00, ..., 3.717184e+06,
        1.156800e+04, 3.600000e+01],
       [1.000000e+01, 0.000000e+00, 2.000000e+00, ..., 3.869089e+06,
        9.835000e+03, 2.500000e+01],
       [7.000000e+00, 0.000000e+00, 2.000000e+00, ..., 2.238016e+06,
        1.047200e+04, 4.900000e+01],
       ...,
       [5.000000e+00, 0.000000e+00, 1.000000e+00, ..., 1.466521e+06,
        6.055000e+03, 2.500000e+01],
       [5.000000e+00, 0.000000e+00, 1.000000e+00, ..., 7.464960e+05,
        3.456000e+03, 1.600000e+01],
       [5.000000e+00, 0.000000e+00, 1.000000e+00, ..., 8.556250e+05,
        4.625000e+03, 2.500000e+01]])

In [31]:
Kaggle_poly.get_feature_names(features)

['totrms_abvgrd',
 'mas_vnr_area',
 'full_bath',
 'year_remod/add',
 'garage_yr_blt',
 'year_built',
 '1st_flr_sf',
 'total_bsmt_sf',
 'garage_cars',
 'garage_area',
 'gr_liv_area',
 'overall_qual',
 'totrms_abvgrd^2',
 'totrms_abvgrd mas_vnr_area',
 'totrms_abvgrd full_bath',
 'totrms_abvgrd year_remod/add',
 'totrms_abvgrd garage_yr_blt',
 'totrms_abvgrd year_built',
 'totrms_abvgrd 1st_flr_sf',
 'totrms_abvgrd total_bsmt_sf',
 'totrms_abvgrd garage_cars',
 'totrms_abvgrd garage_area',
 'totrms_abvgrd gr_liv_area',
 'totrms_abvgrd overall_qual',
 'mas_vnr_area^2',
 'mas_vnr_area full_bath',
 'mas_vnr_area year_remod/add',
 'mas_vnr_area garage_yr_blt',
 'mas_vnr_area year_built',
 'mas_vnr_area 1st_flr_sf',
 'mas_vnr_area total_bsmt_sf',
 'mas_vnr_area garage_cars',
 'mas_vnr_area garage_area',
 'mas_vnr_area gr_liv_area',
 'mas_vnr_area overall_qual',
 'full_bath^2',
 'full_bath year_remod/add',
 'full_bath garage_yr_blt',
 'full_bath year_built',
 'full_bath 1st_flr_sf',
 'full_bath total_bsmt_sf',
 'full_bath garage_cars',
 'full_bath garage_area',
 'full_bath gr_liv_area',
 'full_bath overall_qual',
 'year_remod/add^2',
 'year_remod/add garage_yr_blt',
 'year_remod/add year_built',
 'year_remod/add 1st_flr_sf',
 'year_remod/add total_bsmt_sf',
 'year_remod/add garage_cars',
 'year_remod/add garage_area',
 'year_remod/add gr_liv_area',
 'year_remod/add overall_qual',
 'garage_yr_blt^2',
 'garage_yr_blt year_built',
 'garage_yr_blt 1st_flr_sf',
 'garage_yr_blt total_bsmt_sf',
 'garage_yr_blt garage_cars',
 'garage_yr_blt garage_area',
 'garage_yr_blt gr_liv_area',
 'garage_yr_blt overall_qual',
 'year_built^2',
 'year_built 1st_flr_sf',
 'year_built total_bsmt_sf',
 'year_built garage_cars',
 'year_built garage_area',
 'year_built gr_liv_area',
 'year_built overall_qual',
 '1st_flr_sf^2',
 '1st_flr_sf total_bsmt_sf',
 '1st_flr_sf garage_cars',
 '1st_flr_sf garage_area',
 '1st_flr_sf gr_liv_area',
 '1st_flr_sf overall_qual',
 'total_bsmt_sf^2',
 'total_bsmt_sf garage_cars',
 'total_bsmt_sf garage_area',
 'total_bsmt_sf gr_liv_area',
 'total_bsmt_sf overall_qual',
 'garage_cars^2',
 'garage_cars garage_area',
 'garage_cars gr_liv_area',
 'garage_cars overall_qual',
 'garage_area^2',
 'garage_area gr_liv_area',
 'garage_area overall_qual',
 'gr_liv_area^2',
 'gr_liv_area overall_qual',
 'overall_qual^2']

In [36]:
kaggle_data1 = pd.DataFrame(Kaggle_X_poly, columns=Kaggle_poly.get_feature_names(features))

# Need to rearrange ID columns

In [41]:
kaggle_data1['id'] = kaggle_data['id']
kaggle_data1.head()

,totrms_abvgrd,mas_vnr_area,full_bath,year_remod/add,garage_yr_blt,year_built,1st_flr_sf,total_bsmt_sf,garage_cars,garage_area,...,garage_cars garage_area,garage_cars gr_liv_area,garage_cars overall_qual,garage_area^2,garage_area gr_liv_area,garage_area overall_qual,gr_liv_area^2,gr_liv_area overall_qual,overall_qual^2,id
0,9.0,0.0,2.0,1950.0,1910.0,1910.0,908.0,1020.0,1.0,440.0,...,440.0,1928.0,6.0,193600.0,848320.0,2640.0,3717184.0,11568.0,36.0,2658
1,10.0,0.0,2.0,1977.0,1977.0,1977.0,1967.0,1967.0,2.0,580.0,...,1160.0,3934.0,10.0,336400.0,1140860.0,2900.0,3869089.0,9835.0,25.0,2718
2,7.0,0.0,2.0,2006.0,2006.0,2006.0,664.0,654.0,2.0,426.0,...,852.0,2992.0,14.0,181476.0,637296.0,2982.0,2238016.0,10472.0,49.0,2414
3,5.0,0.0,1.0,2006.0,1935.0,1923.0,968.0,968.0,2.0,480.0,...,960.0,1936.0,10.0,230400.0,464640.0,2400.0,937024.0,4840.0,25.0,1989
4,6.0,247.0,1.0,1963.0,1963.0,1963.0,1394.0,1394.0,2.0,514.0,...,1028.0,2788.0,12.0,264196.0,716516.0,3084.0,1943236.0,8364.0,36.0,625

In [43]:
cols = kaggle_data1.columns.tolist()
cols = cols[-1:] + cols[:-1]
#Inspiration https://stackoverflow.com/questions/13148429/how-to-change-the-order-of-dataframe-columns

In [51]:
kaggle_data1 = kaggle_data1[cols].copy() #  .copy() gets rid of the data error problem when making the saleprice column
kaggle_data1

,id,totrms_abvgrd,mas_vnr_area,full_bath,year_remod/add,garage_yr_blt,year_built,1st_flr_sf,total_bsmt_sf,garage_cars,...,garage_cars^2,garage_cars garage_area,garage_cars gr_liv_area,garage_cars overall_qual,garage_area^2,garage_area gr_liv_area,garage_area overall_qual,gr_liv_area^2,gr_liv_area overall_qual,overall_qual^2
0,2658,9.0,0.0,2.0,1950.0,1910.0,1910.0,908.0,1020.0,1.0,...,1.0,440.0,1928.0,6.0,193600.0,848320.0,2640.0,3717184.0,11568.0,36.0
1,2718,10.0,0.0,2.0,1977.0,1977.0,1977.0,1967.0,1967.0,2.0,...,4.0,1160.0,3934.0,10.0,336400.0,1140860.0,2900.0,3869089.0,9835.0,25.0
2,2414,7.0,0.0,2.0,2006.0,2006.0,2006.0,664.0,654.0,2.0,...,4.0,852.0,2992.0,14.0,181476.0,637296.0,2982.0,2238016.0,10472.0,49.0
3,1989,5.0,0.0,1.0,2006.0,1935.0,1923.0,968.0,968.0,2.0,...,4.0,960.0,1936.0,10.0,230400.0,464640.0,2400.0,937024.0,4840.0,25.0
4,625,6.0,247.0,1.0,1963.0,1963.0,1963.0,1394.0,1394.0,2.0,...,4.0,1028.0,2788.0,12.0,264196.0,716516.0,3084.0,1943236.0,8364.0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,1662,8.0,0.0,2.0,1974.0,1974.0,1974.0,1084.0,1084.0,2.0,...,4.0,976.0,3754.0,12.0,238144.0,915976.0,2928.0,3523129.0,11262.0,36.0
874,1234,9.0,410.0,2.0,1999.0,1966.0,1966.0,1104.0,1104.0,2.0,...,4.0,960.0,3976.0,12.0,230400.0,954240.0,2880.0,3952144.0,11928.0,36.0
875,1373,5.0,0.0,1.0,1968.0,1968.0,1968.0,1211.0,952.0,1.0,...,1.0,322.0,1211.0,5.0,103684.0,389942.0,1610.0,1466521.0,6055.0,25.0
876,1672,5.0,0.0,1.0,1971.0,1974.0,1971.0,864.0,864.0,2.0,...,4.0,1056.0,1728.0,8.0,278784.0,456192.0,2112.0,746496.0,3456.0,16.0
877,1939,5.0,0.0,1.0,1955.0,1955.0,1955.0,925.0,923.0,1.0,...,1.0,390.0,925.0,5.0,152100.0,360750.0,1950.0,855625.0,4625.0,25.0

# Make predictions off train set on kaggle data

In [52]:
preds =lr.predict(kaggle_data1[Kaggle_poly.get_feature_names(features)])

In [53]:
kaggle_data1['saleprice'] = preds

In [48]:
kaggle_data1

,id,totrms_abvgrd,mas_vnr_area,full_bath,year_remod/add,garage_yr_blt,year_built,1st_flr_sf,total_bsmt_sf,garage_cars,...,garage_cars garage_area,garage_cars gr_liv_area,garage_cars overall_qual,garage_area^2,garage_area gr_liv_area,garage_area overall_qual,gr_liv_area^2,gr_liv_area overall_qual,overall_qual^2,saleprice
0,2658,9.0,0.0,2.0,1950.0,1910.0,1910.0,908.0,1020.0,1.0,...,440.0,1928.0,6.0,193600.0,848320.0,2640.0,3717184.0,11568.0,36.0,149177.736109
1,2718,10.0,0.0,2.0,1977.0,1977.0,1977.0,1967.0,1967.0,2.0,...,1160.0,3934.0,10.0,336400.0,1140860.0,2900.0,3869089.0,9835.0,25.0,159135.195116
2,2414,7.0,0.0,2.0,2006.0,2006.0,2006.0,664.0,654.0,2.0,...,852.0,2992.0,14.0,181476.0,637296.0,2982.0,2238016.0,10472.0,49.0,167522.948971
3,1989,5.0,0.0,1.0,2006.0,1935.0,1923.0,968.0,968.0,2.0,...,960.0,1936.0,10.0,230400.0,464640.0,2400.0,937024.0,4840.0,25.0,138993.543814
4,625,6.0,247.0,1.0,1963.0,1963.0,1963.0,1394.0,1394.0,2.0,...,1028.0,2788.0,12.0,264196.0,716516.0,3084.0,1943236.0,8364.0,36.0,179948.948061
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,1662,8.0,0.0,2.0,1974.0,1974.0,1974.0,1084.0,1084.0,2.0,...,976.0,3754.0,12.0,238144.0,915976.0,2928.0,3523129.0,11262.0,36.0,183331.198503
874,1234,9.0,410.0,2.0,1999.0,1966.0,1966.0,1104.0,1104.0,2.0,...,960.0,3976.0,12.0,230400.0,954240.0,2880.0,3952144.0,11928.0,36.0,243960.565955
875,1373,5.0,0.0,1.0,1968.0,1968.0,1968.0,1211.0,952.0,1.0,...,322.0,1211.0,5.0,103684.0,389942.0,1610.0,1466521.0,6055.0,25.0,135178.519107
876,1672,5.0,0.0,1.0,1971.0,1974.0,1971.0,864.0,864.0,2.0,...,1056.0,1728.0,8.0,278784.0,456192.0,2112.0,746496.0,3456.0,16.0,108278.860712
877,1939,5.0,0.0,1.0,1955.0,1955.0,1955.0,925.0,923.0,1.0,...,390.0,925.0,5.0,152100.0,360750.0,1950.0,855625.0,4625.0,25.0,114552.735714

In [49]:
final_kaggle =kaggle_data1[['id', 'saleprice']]

In [50]:
final_kaggle.to_csv('../datasets/kaggle_mlr1_poly.csv', index=False)